@page
@model Shop.UI.Pages.Checkout.PaymentModel
@{
}

<h2>Payment</h2>

<html>
<head>
    <title>Buy</title>
</head>
<body>
    <form method="post" id="payment-form">
        <button type="submit">Pay</button>
    </form>
</body>
</html>